<!DOCTYPE html>
<html>

<head>

<title>API Key</title>

<style>

body{

    background:#020617;

    color:white;

    font-family:Arial;

    padding:40px;
}

.box{

    background:#111827;

    padding:40px;

    border-radius:20px;

    max-width:700px;

    margin:auto;

    text-align:center;
}

.key{

    background:#1e293b;

    padding:20px;

    border-radius:10px;

    margin-top:20px;

    word-break:break-all;

    color:#00ff99;

    font-size:20px;
}

a{

    color:#00ff99;

    text-decoration:none;
}

</style>

</head>

<body>

<div class="box">

<h1>Your API Key</h1>

<p>

Use this API key inside your local IDS agent.

</p>

<div class="key">

{{ api_key }}

</div>

<br><br>

<a href="/">

Back to Dashboard

</a>

</div>

</body>

</html>